<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> Moto Moto News </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="/"><button type="button" class="btn btn-outline-success">Home </button><span class="sr-only">(current)</span></a></li>
                  <li class="nav-item">
                    <a class="nav-link" href="/{{'topics/Business'}}"><button type="button" class="btn btn-outline-success">Business</button></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/{{'topics/Technology'}}"><button type="button" class="btn btn-outline-success">Technology</button></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/{{'topics/Health'}}"><button type="button" class="btn btn-outline-success">Health</button></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/{{'topics/Sports'}}"><button type="button" class="btn btn-outline-success">Sports</button></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/{{'topics/Entertainment'}}"><button type="button" class="btn btn-outline-success">Entertainment</button></a>
                  </li>

            </ul>

        </div>

    </div>
</div>